DATABASE_URL="postgresql://postgres:password@localhost:5432/nexus_marketplace?schema=public"
AUTH_SECRET="nexus_super_secret_session_jwt_key_2026_prototype"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
